<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta content="telephone=no" name=format-detection />
    <meta name=description content=WoodPecker漏洞检测平台是国内知名安全团队TimeKeeper出品。 />
    <meta name=keywords content=WoodPecker,WoodPecker移动漏洞检测平台 />
    <meta content="email=no" name=format-detection />
    <link rel="shortcut icon" href=/favicon.ico />
    <link rel=bookmark href=/favicon.ico />
    <title>WoodPecker漏洞检测平台</title>
    <style> body {

      font-family: "PingFangSC-Light","lucida grande","lucida sans unicode", lucida, helvetica,
      "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif" !important;
      font-weight: 100 !important;
      min-width: auto !important;

    } </style>
    <link href="/static/css/index.css" rel="stylesheet">
{#    <link href="../css/web/index.css?1e6dc1f88d38e0148b76" rel="stylesheet">#}
</head>
<body style="display: block;">
<div _v-36c24457="">
    <div class="index-top-wrapper" _v-36c24457="">
        <div class="index-top clearfix" _v-36c24457="">
            <a class="index-top-logo" href="http://www.pwnzen.com/" _v-36c24457=""></a>
            <div class="index-top-link" _v-36c24457="">
                <a href="http://blog.appscan.io/" target="_blank" class="index-top-blog" id="blog-cn" _v-36c24457="">技术博客</a>
                <a href="http://blog.appscan.io/" target="_blank" class="index-top-blog" id="blog-en" style="display:none" _v-36c24457="">Techblog</a>
                <a href="http://www.mosec.org/" target="_blank" class="index-top-blog" _v-36c24457=""> MOSEC </a>
                <a href="/anva315.html" class="index-top-blog" target="_blank" _v-36c24457="">ANVA 3.15白名单</a>
            </div>
            <div class="janus" _v-36c24457="">
            <img src="/static/images/janus-logo.png" alt="" _v-36c24457="">
            </div>
        </div>
        <div class="index-middle" _v-36c24457="">
            <h3 class="en-title" _v-36c24457=""> 定义规则，重建秩序。 </h3>
            <p _v-36c24457=""> 深度应用分析，挖掘隐匿数据，多维特征检索，规则全网监控。 </p>
{#            <a class="index-middle-button-white px-block lang-cn" href="https://zipperdown.appscan.io/" target="_blank" _v-36c24457="">ZipperDown漏洞检测</a>#}
            <a class="index-middle-button px-block px-mar-l-toggle lang-cn" href={{ login }} id="btn-cn" _v-36c24457="">进入 WoodPecker</a>
{#            <a class="index-middle-button-white px-block lang-en" href="https://zipperdown.appscan.io/" target="_blank" style="display:none" _v-36c24457="">ZipperDown Scan</a>#}
            <a class="index-middle-button px-block px-mar-l-toggle lang-en" href="https://www.appscan.io/home.html?lang=en" id="btn-en" style="display:none" _v-36c24457="">Login</a>
        </div>
    </div>
    <div _v-36c24457="">
        <div class="index-item clearfix" _v-36c24457="">
            <div class="index-item-wrapper" _v-36c24457="">
                <div class="index-item-intro-2" _v-36c24457="">
                    <h3 _v-36c24457="">深度应用分析，挖掘隐匿数据</h3>
                    <p _v-36c24457="">基于污点分析，采用动静结合方法，实时输出应用分析报告。</p>
                    <div class="m-show" _v-36c24457="">
                        <table width="100%" _v-36c24457="">
                            <tbody _v-36c24457="">
                            <tr _v-36c24457="">
                                <td width="33%" _v-36c24457="">
                                    <div class="index-icon-left" _v-36c24457="">
                                        <i class="index-icon apk" _v-36c24457=""></i>
                                        <span _v-36c24457=""> APK概述</span>
                                    </div>
                                </td>
                                <td width="33%" _v-36c24457="">
                                    <div class="index-icon-left" _v-36c24457="">
                                        <i class="index-icon info" _v-36c24457=""></i>
                                        <span _v-36c24457=""> 基础信息</span>
                                    </div>
                                </td>
                            </tr>
                            <tr _v-36c24457="">
                                <td width="33%" _v-36c24457="">
                                    <div class="index-icon-left" _v-36c24457="">
                                        <i class="index-icon bug" _v-36c24457=""></i>
                                        <span _v-36c24457=""> 漏洞检测报告</span>
                                    </div>
                                </td>
                                <td width="33%" _v-36c24457="">
                                <div class="index-icon-left" _v-36c24457="">
                                    <i class="index-icon report" _v-36c24457=""></i>
                                    <span _v-36c24457=""> 恶意行为报告</span>
                                </div>
                                </td>
                            </tr>
                            <tr _v-36c24457="">
                                <td width="33%" _v-36c24457="">
                                    <div class="index-icon-left" _v-36c24457="">
                                        <i class="index-icon rule" _v-36c24457=""></i>
                                        <span _v-36c24457=""> 命中规则</span>
                                    </div>
                                </td>
                                <td width="33%" _v-36c24457=""></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="index-item-intro-right clearfix index-item-flex m-hide" _v-36c24457="">
                        <div class="index-icon-left" _v-36c24457="">
                            <i class="index-icon apk" _v-36c24457=""></i>
                            <span _v-36c24457=""> APK概述</span>
                        </div>
                        <div class="index-icon-right m-hide" _v-36c24457="">
                            <p _v-36c24457="">入库时间 开发者 版本 大小 包名 厂商 来源 MD5 SHA1 SHA256 图标MD5 图标SHA1 Dex文件MD5 Dex文件SHA1 签名 权限列表 IP 邮箱 域名</p>
                        </div>
                    </div>
                    <div class="index-item-intro-right clearfix m-hide" _v-36c24457="">
                        <div class="index-icon-left" _v-36c24457="">
                            <i class="index-icon info" _v-36c24457=""></i>
                            <span _v-36c24457=""> 基础信息</span>
                        </div>
                        <div class="index-icon-right" _v-36c24457="">
                            <p _v-36c24457="">文件结构 URL 类名 方法名 成员变量 字符串 Receiver Provider Service Activity </p>
                        </div>
                    </div>
                    <div class="index-item-intro-right clearfix m-hide" _v-36c24457="">
                        <div class="index-icon-left" _v-36c24457="">
                            <i class="index-icon bug" _v-36c24457=""></i>
                            <span _v-36c24457=""> 漏洞检测报告</span>
                        </div>
                        <div class="index-icon-right m-hide" _v-36c24457="">
                            <p _v-36c24457="">漏洞分布情况 OWASP漏洞分类 漏洞详情</p>
                        </div>
                    </div>
                    <div class="index-item-intro-right clearfix m-hide" _v-36c24457="">
                        <div class="index-icon-left" _v-36c24457="">
                            <i class="index-icon report" _v-36c24457=""></i>
                            <span _v-36c24457=""> 恶意行为报告</span>
                        </div>
                        <div class="index-icon-right m-hide" _v-36c24457="">
                            <p _v-36c24457="">恶意行为分布情况 恶意行为详情 代码追踪 </p>
                        </div>
                    </div>
                    <div class="index-item-intro-right clearfix m-hide" _v-36c24457="">
                        <div class="index-icon-left" _v-36c24457="">
                            <i class="index-icon rule" _v-36c24457=""></i>
                            <span _v-36c24457=""> 命中规则</span>
                        </div>
                        <div class="index-icon-right m-hide" _v-36c24457="">
                            <p _v-36c24457="">当前应用被哪些规则所命中 </p>
                        </div>
                    </div>
                </div>
                <div class="index-item-img-2" _v-36c24457="">
                    <img src="../static/images/group10.png?1bc798d" alt="" _v-36c24457="">
                </div>
            </div>
        </div>

{#        <div class="aboutus" _v-36c24457="">#}
{#            <div class="aboutus-wrapper" _v-36c24457="">#}
{##}
{#            </div>#}
{#        </div>#}
        <div class="mar-t-50 bg-light-grey-m padd-tb-30 page-footer-top" _v-36c24457="">
            <div class="footer-main-wrap" _v-36c24457=""> <div class="c-f col-grey" _v-36c24457="">
{#                <dl class="contact-us px-width-max-center" _v-36c24457="">#}
{#                    <dt class="fs-14 col-black" _v-36c24457="">联系我们</dt>#}
{#                    #}
{#                </dl>#}
                <dl class="use-tip px-width-max-center" _v-36c24457="">
                    <dt class="fs-14 col-black" _v-36c24457="">使用帮助</dt>
                    <dd class="mar-t-15" _v-36c24457="">
                        <a target="_blank" _v-36c24457="" href="http://doc.appscan.io/">文档中心</a>
                        <a target="_blank" _v-36c24457="" href="http://doc.appscan.io/en/"></a>
                    </dd>
                    <dd _v-36c24457="">
                        <a href="/discover-discuss.html?id=2298101566" _v-36c24457="">更新日志</a>
                    </dd>
                    <dd _v-36c24457=""> 关于WoodPecker </dd>
                </dl>

            </div>
                <div class="copy px-width-max-center clearfix" _v-36c24457="">
                    <div class="mar-t-20 border-top mobile-w mar-auto padd-t-20 col-grey" _v-36c24457="">
{#                        <span class="px-fs-12 px-width-max-center" _v-36c24457="">Copyright © 2014-2018 <a href="http://pwnzen.com/" target="_blank" _v-36c24457="">犇众信息</a> All rights reserved. 沪ICP备15051915号-2</span>#}
{#                        <a class="px-fs-12 px-width-max-center" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202002938" _v-36c24457="">#}
{#                            <img src="../static/images/plic_logo.png?d0289dc" class="gongan-img" _v-36c24457="">#}
{#                            <span style="color:#939393" _v-36c24457="">沪公网安备 31011202002938号</span>#}
{#                        </a>#}
{#                        <div class="lang px-width-max-center" _v-36c24457="">#}
{#                            <span class="cn" _v-36c24457="">#}
{#                                <i class="cn-icon" _v-36c24457=""></i>中文#}
{#                            </span>#}
{#                            <span class="en" _v-36c24457="">#}
{#                            <i class="en-icon" _v-36c24457=""></i>English#}
{#                            </span>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://hm.baidu.com/hm.js?2d9a49e839e5ceb193269aefa897ae80"></script>
<script type="text/javascript" src="../static\vendors.js?1e6dc1f88d38e0148b76"></script>
<script type="text/javascript" src="../static\web/index.js?1e6dc1f88d38e0148b76"></script>
<iframe id="blockbyte-bs-sidebar" class="notranslate" data-pos="left"></iframe>
<div id="blockbyte-bs-indicator" class="blockbyte-bs-fullHeight blockbyte-bs-visible" data-pos="left" style="width: 20px; height: 100%; top: 0%;">
    <div><span></span>
    </div>
</div>
</body>
</html>